.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
  transition: ease-in;
  position: relative;
  overflow: hidden;
}

.login__image {
  width: 100%;
  transform: translateY(150%);
  transition: all 2000ms ease-in;
  opacity: 0;
}

.login__imageTransition {
  width: 100%;
  transform: translateY(0);
  transition: all 2000ms ease-in;
  opacity: 1;
}

.login__button {
  padding: 20px;
  background-color: #4fe310;
  border-radius: 99px;
  color: white;
  font-weight: 800;
  text-decoration: none;
  transform: translateY(200%);
  /* transition: all 7s ease-in; */
  opacity: 0;
}

.login__buttonTransition {
  padding: 20px;
  background-color: #4fe310;
  border-radius: 99px;
  color: white;
  font-weight: 800;
  text-decoration: none;
  transform: translateY(0);
  transition: all 2.3s ease-in;
  opacity: 1;
}

.background__animation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1000;
}
