.sidebarOption {
  display: flex;
  gap: 10px;
  color: grey;
  height: 40px;
  align-items: center;
  cursor: pointer;
  transition: 200ms color ease-in;
}

.sidebar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}

.sidebarOption > p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}

.sidebarOption:hover {
  color: rgb(132, 65, 134);
  filter: invert(31%) sepia(13%) saturate(3904%) hue-rotate(255deg)
    brightness(89%) contrast(80%);
}

.sidebar__title {
  padding: 5px;
  font-size: 12px;
}
